<div class="frame" mat-dialog-content>
  <section class="task-frame">
    <label class="name-input">Цель</label>
    <input type="text" name="goal" class="goal-input">
  </section>

  <!-- Task frame -->

  <div class="orange-frame">

    <!-- Task -->

    <section>

      <section class="task-frame">
        <label class="name-input1">Задача</label>
        <input class="orange-input">
      </section>

    </section>


    <!-- Deadline -->

    <section class="section">

      <svg width="653" height="6" viewBox="0 0 653 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM647.333 3C647.333 4.47276 648.527 5.66667 650 5.66667C651.473 5.66667 652.667 4.47276 652.667 3C652.667 1.52724 651.473 0.333333 650 0.333333C648.527 0.333333 647.333 1.52724 647.333 3ZM3 3.5L650 3.5V2.5L3 2.5V3.5Z"
          fill="#D76B49" />
      </svg>

      <section class="checkbox">
        <mat-checkbox class="example-margin">Добавить дедлайн</mat-checkbox>
      </section>


        <mat-form-field appearance="fill">
          <mat-label>Выбрать дату</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>ММ/ДД/ГГГГ</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <svg width="653" height="6" viewBox="0 0 653 6" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM647.333 3C647.333 4.47276 648.527 5.66667 650 5.66667C651.473 5.66667 652.667 4.47276 652.667 3C652.667 1.52724 651.473 0.333333 650 0.333333C648.527 0.333333 647.333 1.52724 647.333 3ZM3 3.5L650 3.5V2.5L3 2.5V3.5Z"
            fill="#D76B49" />
        </svg>

    </section>

    <!-- Notice -->


    <section class="section">

      <section class="checkbox">
        <mat-checkbox class="example-margin">Получать уведомления</mat-checkbox>
      </section>


      <mat-button-toggle-group name="Week" aria-label="Week" multiple>
        <mat-button-toggle value="Monday">Пн</mat-button-toggle>
        <mat-button-toggle value="Tuesday">Вт</mat-button-toggle>
        <mat-button-toggle value="Wednesday">Ср</mat-button-toggle>
        <mat-button-toggle value="Thursday">Чт</mat-button-toggle>
        <mat-button-toggle value="Friday">Пт</mat-button-toggle>
        <mat-button-toggle value="Saturday">Сб</mat-button-toggle>
        <mat-button-toggle value="Sunday">Вс</mat-button-toggle>
      </mat-button-toggle-group>

      <section class="time-frequency">

        <mat-form-field appearance="fill">
          <mat-label>Частота</mat-label>
          <mat-select>
            <mat-option value="everHour">Каждый час</mat-option>
            <mat-option value="everTwoHour">Каждые 2 часа</mat-option>
            <mat-option value="everFourHour">Каждые 4 часа</mat-option>
            <mat-option value="Once">Один раз в день</mat-option>
          </mat-select>
        </mat-form-field>

        <section class="task-frame">
          <label class="name-input1">Время</label>
          <input type="time">
        </section>

      </section>
    </section>



    <!-- Link -->

    <section class="section">

      <svg width="653" height="6" viewBox="0 0 653 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M0.333333 3C0.333333 4.47276 1.52724 5.66667 3 5.66667C4.47276 5.66667 5.66667 4.47276 5.66667 3C5.66667 1.52724 4.47276 0.333333 3 0.333333C1.52724 0.333333 0.333333 1.52724 0.333333 3ZM647.333 3C647.333 4.47276 648.527 5.66667 650 5.66667C651.473 5.66667 652.667 4.47276 652.667 3C652.667 1.52724 651.473 0.333333 650 0.333333C648.527 0.333333 647.333 1.52724 647.333 3ZM3 3.5L650 3.5V2.5L3 2.5V3.5Z"
          fill="#D76B49" />
      </svg>

      <section class="checkbox">
        <mat-checkbox class="example-margin"></mat-checkbox>
        <label class="label">Добавить ссылку</label>
      </section>

      <section class="task-frame">
        <label class="name-input1">Ссылка</label>
        <section class="gap">
          <input class="orange-input">
          <input class="orange-input">
        </section>
      </section>

      <mat-radio-group class="radio-group" aria-labelledby="example-radio-group-label" class="example-radio-group"
        [(ngModel)]="privacy">
        <mat-radio-button class="example-radio-button" *ngFor="let choicePrivacy of choicePrivacy"
          [value]="choicePrivacy">
          {{choicePrivacy}}
        </mat-radio-button>
      </mat-radio-group>

    </section>

  </div>

  <button class="button">+ Добавить задачу</button>

  <section class="submit-button">
    <button mat-button class="save-button">Отмена</button>
    <button mat-button class="cancel-button">Сохранить</button>
  </section>

</div>