<div class="frame" mat-dialog-content>
  <mat-form-field appearance="outline" class="goal-input">
    <mat-label>Цель</mat-label>
    <input matInput placeholder="Название цели">
  </mat-form-field>
  <div class="orange-frame">
    <mat-form-field appearance="outline" class="orange-input">
      <mat-label>Задача</mat-label>
      <input matInput placeholder="Название задачи">
    </mat-form-field>
    <mat-checkbox class="example-margin">Добавить дедлайн</mat-checkbox>
    <mat-checkbox class="example-margin">Получать уведомления</mat-checkbox>
    <mat-checkbox class="example-margin">Добавить ссылку</mat-checkbox>
  </div>

<button mat-button class="button">+ Добавить задачу</button>
<section class="submit-button">
  <button mat-button class="save-button">Отмена</button>
  <button mat-button class="cancel-button">Сохранить</button>
</section>
</div>

  
<!-- <button mat-button mat-dialog-close>No</button>
<button mat-button mat-dialog-close cdkFocusInitial>Ok</button> -->