.my-profile{
    font-family: 'Roboto';
    font-style: bold;
    font-size: 46px;
    text-align: center;
}

.personal{
    font-family: 'Roboto';
    font-style: bold;
    font-size: 32px;
    margin-left: 10%;
}

.btn-primary{
    margin-top: 2%;
}

.ChangeData{
    padding-left: 10%;
}

.form-label{
    padding-top: 4%;
}

.title {
    width: 242px;
    height: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 20px;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1px;
    padding-top: 25px;
    color: #D76B49;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.input {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    width: 500px;
    height: 56px;

    border: 1px solid #79747E;
    border-radius: 10px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding: 20px;
}

.name-input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    margin-top: 2%;
    color: #49454F;
}

.err-label {
    width: 468px;
    height: 16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.4px;

    color: #b2260d;

    flex: none;
    order: 0;
    flex-grow: 1;
    padding: 4px 16px 0px;
}

.bb {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 13px 24px;
    gap: 8px;

    width: 245px;
    height: 48px;

    background: #D76B49;
    border-radius: 10px;
    border: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
    
    flex: none;
    order: 0;
    flex-grow: 0;

}