<div class="form">
    <div class="frame">
        <div class="input-gap">
            <div>
                <label class="reset">Восстановление пароля</label>
<div>
    <label class="name-input">Новый пароль</label>
    <input type="password" name="password" class="input">
    <label class="err-label"></label>
</div>
<div>
    <label class="name-input">Повторите новый пароль</label>
    <input type="password" name="password" class="input">
    <label class="err-label"></label>
</div>
<section class="bb-frame">
    <button class="bb" type="submit">Подтвердить</button>
  </section>