@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.form {
    padding-left: 560px;
    padding-top: 170px;
}

.frame {
    box-sizing: border-box;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    gap: 30px;

    position: absolute;
    width: 570px;
    height: 400px;
    left: 460px;

    background: #FFFFFF;
    border: 1px solid #C22918;
    border-radius: 50px;
}

.input {
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 10px;

    width: 500px;
    height: 56px;

    border: 1px solid #79747E;
    border-radius: 10px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    padding: 20px;
}

.name-input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    display: flex;

    color: #49454F;
}

.reset{
    font-family: 'Roboto';
    font-size: 36px;
    color: #D76B49;
    display: flex;
    padding-left: 50px;
    padding-bottom: 30px;
}

.bb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 13px 24px;
    gap: 8px;
    
    width: 245px;
    height: 48px;
    
    background: #D76B49;
    border-radius: 10px;
    border: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    
    color: #FFFFFF;
    }
    
    .bb-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 197px;
    
    width: 500px;
    height: 48px;
    flex: none;
    order: 7;
    flex-grow: 0;
    }