@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.my-plan{
    font-family: 'Roboto';
    font-style: bold;
    font-size: 46px;
    margin-top: 2%;
    margin-left: 10%;
}

.plus{
    font-family: 'Roboto';
    font-size: 24px;
    
}

#add-button{
    background-color: #D76B49;
    right: 20px;
    bottom: 15px; 
    position: fixed;
}
