<app-navigation-bar></app-navigation-bar>
<div class="frame">
  <section class="content">
    <section class="top-section">
  <span class="header">Сотрудники</span>
  <mat-form-field class="search" floatLabel="auto" appearance="fill" color="primary">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput>
    <mat-label class="search-name">Имя сотрудника</mat-label>
  
  </mat-form-field>
</section>


<section class="test">
  <section class="test-2">
    <app-mini-progres-card></app-mini-progres-card>
    <app-mini-progres-card></app-mini-progres-card>
    <app-mini-progres-card></app-mini-progres-card>
  </section>
  <section class="test-2">
    <app-mini-progres-card></app-mini-progres-card>
    <app-mini-progres-card></app-mini-progres-card>
    <app-mini-progres-card></app-mini-progres-card>
  </section>
</section>
  </section>
</div>