@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.frame {
  position: relative;
  width: 92.5%;
  height: 100%;
  left: 7.5%;
  top: 0px;
  padding-top: 2%;
}

.cintent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 46px 0px;
  gap: 53px;

  position: relative;
  width: 1080px;
  height: 1015px;
  left: 127px;
  top: 0px;
}

.header {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 46px;
  margin-left: 10%;
  margin-top: 4%;
}

.top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 481px;

  width: 1080px;
  height: 48px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.search {
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 2%;
  margin-top: 4%;
/* 

  padding: 4px 22px;
  gap: 4px;

  width: 328px;
  height: 48px;

  background: linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFBFE;
  border: 1px solid #D76B49; */
  border-radius: 28px;

  /* Inside auto layout */

}

.search-name {
  margin-top: 20%;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 6%;
  gap: 48px;

  width: 1333px;
  height: 822px;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.test-2 {
  margin-left: 17.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 78px;

  width: 1080px;
  height: 97px;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}