@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.sidenav-container {
  height: 100%;
}

.sidenav {
  background: #D76B49;
  width: 107px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px 14px;
  gap: 31px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;

  width: 79px;
  height: 70px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.ng-button {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 3px;
margin-bottom: 20px;

width: 79px;
height: 70px;

flex: none;
order: 0;
flex-grow: 0;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
text-align: center;
letter-spacing: 0.5px;
color: #FFFFFF;

flex: none;
order: 1;
flex-grow: 0;
}

.myplan{
  text-align: center;
}

.members{
  text-align: center;
}

.profile{
  text-align: center;
}