<div class="form">
    <div class="frame">
        <form class="input-gap">
            <div>
                <label class="reset">Восстановление пароля</label>
                <label class="name-input">Email</label>
                <input type="email" name="email" class="input">
                <label class="err-label"></label>
                <p class="desc">На вашу электронную почту будет отправлено
                    письмо для восстановления пароля</p>
            </div>
            <button class="bb" type="submit">Подтвердить</button>
        </form>
        <section class="bb-frame">
            <button class="bb1" type="submit"><a routerLink="/login" class="bb1">Войти</a></button>
            <button class="bb2"><a routerLink="/registration" class="bb1">Зарегистрироваться</a></button>
          </section>
          
</div>
