<div>
    <div class="frame">
        <form (submit)="passwordResetClick()">
            <p class="reset">Восстановление пароля</p>
            <label class="name-input">Email</label>
            <input type="email" name="email" [(ngModel)]="email" class="input">
            <label class="err-label">{{emailErrLabel}}</label>
            <p class="desc">На вашу электронную почту будет отправлено
                письмо для восстановления пароля</p>
            <div class="">
                <button class="bb" type="submit">Подтвердить</button>
            </div>
        </form>
        <section class="bb-frame">
            <button class="bb1" type="submit"><a routerLink="/login" class="bb1">Войти</a></button>
            <button class="bb2"><a routerLink="/registration" class="bb1">Зарегистрироваться</a></button>
        </section>
    </div>
</div>