<div class="form">
    <div class="frame">
        <div class="input-gap">
            <div>
                <label class="reset">Восстановление пароля</label>
                <label class="name-input">Email</label>
                <input type="email" name="email" class="input">
                <label class="err-label"></label>
                <p class="desc">На вашу электронную почту будет отправлено
                    письмо для восстановления пароля</p>
            </div>
        <section class="bb-frame">
            <button class="bb1" type="submit">Войти</button>
            <button class="bb" type="submit">Подтвердить</button>
          </section>
          <button class="bb2" type="submit">Зарегистрироваться</button>
    </div>
</div>
