<div class="form">
    <div class="frame">
        <div class="input-gap">
            <div>
                <label class="login">Авторизация</label>
                <label class="name-input">Email</label>
                <input type="email" name="email" class="input">
                <label class="err-label"></label>
            </div>
            <div>
                <label class="name-input">Пароль</label>
                <input type="password" name="password" class="input">
                <label class="err-label"></label>
            </div>
        <section class="bb-frame">
            <button class="bb1" type="submit">Забыли пароль?</button>
            <button class="bb" type="submit">Войти</button>
          </section>
          <button class="bb2" type="submit">Зарегистрироваться</button>
    </div>
</div>
